.rte-responsive-table-wrapper {
    overflow-x: auto;
    width: 100%;
    font-size: 16px;
}

.rte-responsive-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border:none;
    border-spacing:0;
    table-layout:auto;
    margin:0 auto 1rem;
    color: #111;
    overflow-x: scroll;
    --even-bg-color:#f9f9f9;
    --odd-bg-color:#fff;
    --header-background-color: #fc0;
    --footer-background-color: #d9d9d9;
    line-height: 1.5em;
}

.rte-responsive-table th,
.rte-responsive-table td {
    padding: 8px;
    text-align: center;
    border: none;
    white-space: nowrap;
    background-color: var(--odd-bg-color);
}

.rte-responsive-table td:first-child,
.rte-responsive-table th:first-child {
    position: sticky;
    left: 0;
}

.rte-responsive-table th{
    background-color: var(--header-background-color);
}

.responsive_table_editor.row-striping tbody > :nth-child(2n) > * {
  background-color: var(--even-bg-color);
}

.responsive_table_editor.has-footer tbody > tr:last-child > * {
  background-color: var(--footer-background-color);
}

.responsive_table_editor.pricing-alignment th:nth-child(1),
.responsive_table_editor.pricing-alignment td:nth-child(1) {
    text-align: left;
    white-space: wrap;
}

.responsive_table_editor.pricing-alignment th:nth-child(2),
.responsive_table_editor.pricing-alignment td:nth-child(2) {
    text-align: right;
    white-space: wrap;
}

.responsive_table_editor.allow-text-wrap th,
.responsive_table_editor.allow-text-wrap td {
    white-space: wrap;
}

@media screen and (max-width: 600px) {
    .rte-responsive-table th,
    .rte-responsive-table td {
        font-size: 14px;
    }
}

/* Default: show all columns */
table td,
table th {
  display: table-cell;
}

/* On small screens, hide the last column
@media (max-width: 600px) {
  table th:last-child,
  table td:last-child {
    display: none;
  }
}
*/